h1 {
	/*font-family: 'Metal Mania', cursive;*/
	font-family: 'Quando', serif;
	font-size:50px;
	margin-top:10px;
}

p {
/*	font-family: 'Metal Mania', cursive;*/
	font-family: 'Quando', serif;
	font-size:20px
}

h2 {
	font-family: 'Quando', serif;
}

.choice {
	background-color:lightblue;
	font-size:20px;
		font-family: 'Quando', serif;
/*	font-family: 'Metal Mania', cursive;*/
	margin:5px;
}

.choice:hover {
	/*background-color:yellow;*/
	opacity:.8;
	cursor:pointer;
	width: 102.5%;
	/*margin-left:-5px;
	margin-right:-5px;*/
}

.question {
		font-family: 'Quando', serif;
/*	font-family: 'Metal Mania', cursive;*/
	font-size:20px;
}

.correct {
	background-color: lightgreen;
	transition: .5s;
}
 .wrong {
 	background-color: red;
	transition: .5s;
 }

.red {
	color:red;
}

.timer {
	transition:.5s;
}

html {
    height: 100%;
}

body {
	background-color: gray;
	height:100%;
}

.container {
	background-color:white;
	background-image:url("../../crossword.png");
	min-height:100%;
	box-shadow: 2px 0px 15px black;
}

img {
	border-radius: 10px;
	/*width:500px;*/
	max-height:450px;
/*	width:100%;*/
}

/*.spooky {
	font-family: 'Creepster', cursive;
	font-size: 125px
}*/

.thumb {
	width: 242px;
	height:200px;
}

button {
	font-family: 'Quando', serif;
}